<!DOCTYPE html>
<html>
    <head>
        <title>Weather App: Help</title>
        <link rel="icon" href="/img/weather.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helperText}}</p>
            <img class="portrait" src="./img/faq.png">
        </div>
        
        {{>footer}}
    </body>
</html>